@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800,900|Hepta+Slab');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Hepta Slab', serif;

$primary-color: #d1f9ff;
$secondary-color: #ff296d;
$secondary-color-bold: #05d8e8;

$fest-blue: #005679;
$fest-blue-alt: #01012a;

$white: #ffffff;
$black: #000000;

$light-gray: #e2e2e2;
$dark-gray: #555555;
