@import 'variables';
@import 'align';
@import 'mixins';

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: $primary-font;
  background-color: $black;
  background: url('/bg.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: $black;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

a,
a:link {
  color: $secondary-color;
  text-decoration: none;
  @include ease-transition;

  &:hover {
    color: darken($color: $secondary-color, $amount: 30);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
  margin: 10px 0px 20px 0px;
  padding: 0px;
  line-height: 0.95em;
  font-weight: 800;
  color: $black;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;

  @include desktop {
    word-wrap: break-word;
    font-size: 3.56em;
  }

  @include tablet {
    font-size: 3em;
    word-wrap: break-word;
  }

  @include mobile {
    font-size: 2em;
    word-wrap: break-word;
  }
}

h2 {
  font-size: 3.4em;

  @include tablet {
    font-size: 2.4em;
  }

  @include mobile {
    font-size: 2.4em;
  }
}

h3 {
  font-size: 2.2em;

  @include tablet {
    font-size: 1.2em;
    
  }

  @include mobile {
    
  }
}

.header {
  width: 88%;
  max-width: 1440px;
  margin: 120px auto 30px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 75%;
  }

  @include mobile {
    width: 90%;
    margin-top: 50px;
  }

  .welcome {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    @include mobile {
      width: 100%;
    }

    h1 {
      z-index: 10;
      padding: 10px;
      margin: 5px;

      a {
        color: $black;
      }
    }
  }

  h2 {
    font-weight: 300;
    font-size: 36px;
    text-shadow: none;

    @include mobile {
      font-size: 24px;
      width: 70%;
      margin: 10px auto;
    }
  }
}

.chat-open {
  width: calc(100% - 440px);
  margin-left: 0px;

  @include tablet {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }
}

.site-container {
  display: flex;
  flex-direction: column;

  .main {
    width: 100%;
    max-width: 1440px;
    min-height: 650px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

    .home {
      width: 100%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.chat-open {
        width: calc(100% - 440px);
        margin-left: 0px;

        @include tablet {
          width: 50%;
        }

        @include mobile {
          width: 100%;
        }
      }
      .sticky-wrapper {
        width: 100%;
      }

      .sticky-wrapper {
        position: relative;
        min-height: 40rem;

        @include tablet {
          height: auto;
        }

        @include mobile {
          min-height: 20rem;
        }
      }

      @include mobile {
        .sticky {
          .stream-container {
            .stream-wrapper {
              position: fixed;
              padding: 0;
              top: 0;
              left: 0;
              right: 0;
              z-index: 3;

              .stream {
                display: flex;
                justify-content: center;
                align-items: center;
                iframe {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .stream-thumbs {
              display: none;
            }
          }
        }
      }
    }

    .schedule {
      background-color: $fest-blue;
      padding: 160px 0px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        
      }

      img {
        width: 50%;
        height: auto;

        @include mobile {
          width: 90%;
        }
      }
    }

    .chat-tab {
      position: fixed;
      cursor: pointer;
      z-index: 3;
      right: -23px;
      top: 180px;
      padding: 8px 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: $secondary-color;
      color: #ffffff;
      transform: rotate(-90deg);
      box-shadow: 0px 0px 10px 0px rgba($color: $black, $alpha: 0.4);

      @include mobile {
        font-size: 14px;
        top: 250px;
      }
    }

    .chat-container {
      position: fixed;
      z-index: 2;
      background-color: $primary-color;
      color: $black;
      height: 100vh;
      top: 0;
      right: 0;

      &.expanded {
        width: 400px;
        padding: 20px;

        @include tablet {
          width: 50%;
          padding: 20px 0px;
        }

        @include mobile {
          position: relative;
          width: 100%;
          padding: 20px 0px;
          height: 80vh;
          margin-bottom: 20px;
        }
      }

      iframe {
        width: 100%;
        height: 90vh;

        @include mobile {
          height: 70vh;
        }
      }

      @include mobile {
        width: 60vw;
      }

      .close-chat {
        cursor: pointer;
        background-color: $black;
        color: $primary-color;
        border-radius: 50px;
        padding: 5px 10px;
        border: 4px solid $secondary-color;
        font-size: 14px;
        width: 28%;

        svg {
          width: 8px;
          height: 10px;
          margin: 0 5px;
        }

        @include tablet {
          margin-left: 10px;
        }

        @include mobile {
          margin-left: 10px;
          width: 85%;
        }
      }

      .chat {
        margin-top: 20px;
      }
    }
  }
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .video-wrapper {
    width: 46%;
    display: block;
    background-color: $secondary-color-bold;
    padding: 10px;
    margin-bottom: 40px;

    @include mobile {
      width: 100%;
    }

    .video {
      padding-bottom: 62.51%;
      position: relative;
      overflow: hidden;
      display: block;

      iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}

.stream-grid {
  display: flex;
  flex-wrap: wrap;

  .stream-wrapper {
    width: 50%;
  }
}

.stream-thumbs {
  width: 83.8%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

  @include tablet {
    width: 100%;
    justify-content: space-between;
  }

  @include mobile {
    width: 100%;
    justify-content: space-between;
  }

  .stream-wrapper {
    // background-color: $secondary-color-bold;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h4 {
      text-shadow: none;
    }

    .stream {
      &.fullscreened .video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 38% 0px;
        text-transform: uppercase;
        background-color: $fest-blue;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    .video {
      padding-bottom: 62.51%;
      position: relative;
      overflow: hidden;
      display: block;

      iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.stream-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .stream-wrapper {
    width: 80%;
    display: block;
    background-color: $secondary-color;
    @include fest-gradient;
    padding: 10px;
    margin-bottom: 40px;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    .stream {
      padding-bottom: 62.51%;
      position: relative;
      overflow: hidden;
      display: block;

      iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}

.fullscreen {
  @include button;

  &:hover {
    background-color: $black;
  }

  @include mobile {
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
  }
}

form {
  width: 80%;
  margin-bottom: 10px;

  @include mobile {
    width: 90%;
  }

  input[type='submit'] {
    appearance: none;
    @include button;
  }

  .user-field {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type='text'] {
      font-size: 18px;
      margin-right: 10px;
      margin-top: 5px;
      padding: 12px;
      background-color: $dark-gray;
      color: $light-gray;
      border: 0;
      width: 80%;

      &:focus {
        outline-color: $secondary-color-bold;
      }
    }

    ::placeholder {
      color: $light-gray;
    }
  }
}

.stream-dropdown {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  label {
    display: block;
  }

  select {
    -webkit-appearance: none;
    width: 100%;
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-size: 14px;
    background-color: $dark-gray;
    color: $light-gray;

    @include mobile {
      font-size: 18px;
    }
  }
  .dropdown-icon {
    margin-left: -35px;
    margin-top: 3px;
    width: 25px;
    color: $white;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.events-container {
  display: grid;
  grid-template-rows:
    [tracks] auto
    // [time-1400] 1fr
    // [time-1430] 1fr
    // [time-1500] 1fr
    // [time-1530] 1fr
    // [time-1600] 1fr
    // [time-1630] 1fr
    [time-1700] 1fr
    [time-1715] 1fr
    [time-1730] 1fr
    [time-1745] 1fr
    [time-1800] 1fr
    [time-1815] 1fr
    [time-1830] 1fr
    [time-1845] 1fr
    [time-1900] 1fr
    [time-1915] 1fr
    [time-1930] 1fr
    [time-1945] 1fr
    [time-2000] 1fr
    [time-2015] 1fr
    [time-2030] 1fr
    [time-2045] 1fr
    [time-2100] 1fr
    [time-2115] 1fr
    [time-2130] 1fr
    [time-2145] 1fr
    [time-2200] 1fr
    [time-2215] 1fr
    [time-2230] 1fr
    [time-2245] 1fr
    [time-2300] 1fr
    [time-2315] 1fr
    [time-2330] 1fr
    [time-2345] 1fr
    [time-0000] 1fr;

  grid-template-columns:
    [times] 4em
    [df_thelivingroom-start] 1fr
    [df_thelivingroom-end df_thebedroom-start] 1fr
    [df_thebedroom-end df_thegarage-start] 1fr
    [df_thegarage-end];

  @include mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .time-slot {
    grid-column: times;
    font-size: 0.75em;
  }

  .event {
    display: flex;
    flex-direction: column;
    background-color: $black;
    border: 2px solid $secondary-color-bold;
    padding: 20px;
    margin: 2px;
    color: $white;
    @include ease-transition;

    &:hover {
      color: $fest-blue-alt;
      background-color: $secondary-color-bold;
    }

    &.past {
      opacity: 0.4;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: $secondary-color;
        padding: 2px;
        width: 100%;
        top: 53px;
        left: 0;
        transform: rotate(20deg);
      }
    }

    &-title {
      h3 {
        margin: 0;
        text-shadow: none;
        color: $white;
      }
    }

    &-time {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-endTime {
        &:before {
          content: '-';
          margin: 0px 10px;
        }
      }
    }

    &-reminder {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }

  .error {
    display: block;
    width: 100%;
  }
}

.events-container2 {
  display: grid;
  grid-template-rows:
    [tracks] auto
    [time-1530] 1fr
    [time-1545] 1fr
    [time-1600] 1fr
    [time-1615] 1fr
    [time-1630] 1fr
    [time-1645] 1fr
    [time-1700] 1fr
    [time-1715] 1fr
    [time-1730] 1fr
    [time-1745] 1fr
    [time-1800] 1fr
    [time-1815] 1fr
    [time-1830] 1fr
    [time-1845] 1fr
    [time-1900] 1fr
    [time-1915] 1fr
    [time-1930] 1fr
    [time-1945] 1fr
    [time-2000] 1fr
    [time-2015] 1fr
    [time-2030] 1fr
    [time-2045] 1fr
    [time-2100] 1fr
    [time-2115] 1fr
    [time-2130] 1fr
    [time-2145] 1fr
    [time-2200] 1fr
    [time-2215] 1fr
    [time-2230] 1fr
    [time-2245] 1fr
    [time-2300] 1fr
    [time-2315] 1fr
    [time-2330] 1fr
    [time-2345] 1fr
    [time-0000] 1fr;

  grid-template-columns:
    [times] 4em
    [df_thelivingroom-start] 1fr
    [df_thelivingroom-end df_thebedroom-start] 1fr
    [df_thebedroom-end df_thegarage-start] 1fr
    [df_thegarage-end];

  @include mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .time-slot {
    grid-column: times;
    font-size: 0.75em;
  }

  .event {
    display: flex;
    flex-direction: column;
    border: 2px solid $secondary-color-bold;
    padding: 20px;
    margin: 2px;
    @include ease-transition;

    &:hover {
      color: $fest-blue-alt;
      background-color: $secondary-color-bold;
    }

    &.past {
      opacity: 0.4;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: $secondary-color;
        padding: 2px;
        width: 100%;
        top: 53px;
        left: 0;
        transform: rotate(20deg);
      }
    }

    &-title {
      h3 {
        margin: 0;
        text-shadow: none;
      }
    }

    &-time {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-endTime {
        &:before {
          content: '-';
          margin: 0px 10px;
        }
      }
    }

    &-reminder {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }

  .error {
    display: block;
    width: 100%;
  }
}

.submission {
  width: 80%;

  &-title {
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;

    h2 {
      text-transform: uppercase;
      
    }

    @include mobile {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-form {
    width: 100%;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;

      input,
      textarea {
        font-size: 18px;
        margin: 10px 0px;
        padding: 10px;
      }

      label {
        display: flex;
        flex-direction: column;
      }

      input[type='submit'] {
        appearance: none;
        @include button;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
    }
  }
}

.notifications {
  position: fixed;
  bottom: 0;
  margin: 10px;

  .notification {
    position: relative;
    background-color: $white;
    color: $secondary-color;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    @include rounded-corners;
    transition: all 1s ease-in-out;
    opacity: 0;
    left: -800px;

    &.open {
      opacity: 1;
      transition: all ease-out 0.5s;
      left: 0px;
    }

    &-close {
      font-size: 12px;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 4px;
      right: 6px;
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      span {
        font-weight: 700;
      }
    }

    &-message {
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.countdown {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px auto;
  padding: 20% 0;
  border-top: 20px solid $secondary-color;
  border-bottom: 20px solid $secondary-color;
  margin-bottom: 60px;

  @include mobile {
    border-top-width: 5px;
    border-bottom-width: 5px;
  }

  &-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    &-digit {
      font-size: 120px;
      text-shadow: 2px 3px $secondary-color-bold;

      @include mobile {
        font-size: 48px;
      }
    }

    &-interval {
      font-weight: 300;
    }
  }
}

.how {
  width: 90%;
  margin: 40px auto;

  p {
    margin: 30px 0;
    font-size: 18px;
  }

  img {
    @include tablet {
      width: 100%;
      height: auto;
    }

    @include mobile {
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  min-height: 80px;
  padding: 20px 0px;
  background-color: $secondary-color;
  text-align: center;

  h4 {
    text-transform: uppercase;
    text-shadow: none;

    a, a:link {
      color: $fest-blue-alt;
    }
  
  }
  
 
  &-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 9px;

    div a {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      margin-bottom: 20px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $secondary-color-bold;
      }
      svg {
        height: 40px;
      }
    }
  }

  &-copyright {
    font-weight: 300;
  }
}

.fundraiser {
  width: 80%;
  background-color: $black;
  color: $white;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
  @include fest-gradient;

  &-inner{
    background-color: $black;
    padding: 20px;
  }

  &-title {
    color: $white;
    margin: 0px;
    margin-bottom: 10px;
  }

  h2,h3 {
    color: $white;
  }

  &-give {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
    }
    
    div {
      width: 30%;
      @include mobile {
       width: 100%;
       margin-bottom: 10px;
      }
    }
  }

  &-goal {
    margin-top: 30px;
  }
}
