@import 'variables';
@import 'align';
@import 'mixins';

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: $primary-font;
  background-color: $black;
  color: $primary-color;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image: url('../public/static/background-dark.png');
  background-size: 60%;

  @include mobile {
    background-size: 1000%;
    background-position: bottom center;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
  margin: 10px 0px 20px 0px;
  padding: 0px;
  line-height: 0.95em;
  font-weight: 800;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;

  @include desktop {
    word-wrap: break-word;
    font-size: 3.56em;
  }

  @include tablet {
    font-size: 3em;
    word-wrap: break-word;
  }

  @include mobile {
    font-size: 2em;
    word-wrap: break-word;
  }
}

h2 {
  font-size: 3.4em;

  @include tablet {
    font-size: 2.4em;
  }
}

h3 {
  font-size: 2.2em;
  @include tablet {
    font-size: 1.2em;
  }
}

.site-container {
  display: flex;
  flex-direction: column;

  .main {
    width: 100%;
    max-width: 1440px;
    min-height: 650px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

    .home {
      padding-top: 50px;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.chat-open {
        width: calc(100% - 440px);
        margin-left: 0px;

        @include tablet {
          width: 50%;
        }

        @include mobile {
          width: 100%;
        }
      }
      .sticky-wrapper {
        width: 100%;
      }

      .sticky-wrapper {
        position: relative;
        min-height: 40rem;

        @include tablet {
          height: 60rem;
        }

        @include mobile {
          min-height: 25rem;
        }
      }

      @include mobile {
        .sticky {
          .stream-container {
            .stream-wrapper {
              position: fixed;
              padding: 0;
              top: 0;
              left: 0;
              right: 0;
              z-index: 3;

              .stream {
                display: flex;
                justify-content: center;
                align-items: center;
                iframe {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .stream-thumbs {
              display: none;
            }
          }
        }
      }
    }

    .chat-tab {
      position: fixed;
      cursor: pointer;
      z-index: 3;
      right: -23px;
      top: 180px;
      padding: 8px 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #286aa0;
      color: #ffffff;
      transform: rotate(-90deg);
      box-shadow: 0px 0px 10px 0px rgba($color: $black, $alpha: 0.4);

      @include mobile {
        font-size: 14px;
      }
    }

    .chat-container {
      position: fixed;
      z-index: 2;
      background-color: $primary-color;
      color: $black;
      height: 100vh;
      right: 0;

      &.expanded {
        width: 400px;
        padding: 20px;

        @include tablet {
          width: 50%;
          padding: 20px 0px;
        }

        @include mobile {
          position: relative;
          width: 100%;
          padding: 20px 0px;
          height: 70vh;
        }
      }

      iframe {
        width: 100%;
        height: 90vh;

        @include mobile {
          height: 70vh;
        }
      }

      @include mobile {
        width: 60vw;
      }

      a.close-chat {
        cursor: pointer;
        background-color: $black;
        color: $primary-color;
        border-radius: 50px;
        padding: 5px 10px;
        border: 4px solid $secondary-color-bold;
        font-size: 14px;
        display: flex;
        width: 25.5%;

        svg {
          width: 8px;
          margin: 0 5px;
        }

        @include tablet {
          margin-left: 10px;
        }

        @include mobile {
          margin-left: 10px;
        }
      }

      .chat {
        margin-top: 20px;
      }
    }
  }
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .video-wrapper {
    width: 46%;
    display: block;
    background-color: $secondary-color-bold;
    padding: 10px;
    margin-bottom: 40px;

    @include mobile {
      width: 100%;
    }

    .video {
      padding-bottom: 62.51%;
      position: relative;
      overflow: hidden;
      display: block;

      iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}

.stream-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .stream-wrapper {
    width: 80%;
    display: block;
    background-color: $secondary-color;
    padding: 10px;
    margin-bottom: 40px;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    .stream {
      padding-bottom: 62.51%;
      position: relative;
      overflow: hidden;
      display: block;

      iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }

  .stream-thumbs {
    width: 83.8%;
    display: flex;
    justify-content: space-around;

    @include tablet {
      width: 100%;
      justify-content: space-between;
    }

    @include mobile {
      width: 100%;
      justify-content: space-between;
    }

    .stream-wrapper {
      background-color: $secondary-color-bold;
      width: 29%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.fullscreen {
  @include button;
}

form {
  width: 80%;
  margin-bottom: 10px;

  @include mobile {
    width: 90%;
  }

  .user-field {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type='text'] {
      font-size: 18px;
      margin-right: 10px;
      margin-top: 5px;
      padding: 12px;
      background-color: $dark-gray;
      color: $light-gray;
      border: 0;
      width: 80%;

      &:focus {
        outline-color: $secondary-color-bold;
      }
    }

    ::placeholder {
      color: $light-gray;
    }

    input[type='submit'] {
      @include button;
    }
  }
}

.stream-dropdown {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  label {
    display: block;
  }

  select {
    -webkit-appearance: none;
    width: 100%;
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-size: 14px;
    background-color: $dark-gray;
    color: $light-gray;
  }
  .dropdown-icon {
    margin-left: -35px;
    margin-top: 3px;
    width: 25px;
    color: $white;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.events-container {
  display: grid;
  grid-template-rows:
    [tracks] auto /* Foreshadowing! */
    [time-1400] 1fr
    [time-1430] 1fr
    [time-1500] 1fr
    [time-1530] 1fr
    [time-1600] 1fr
    [time-1630] 1fr
    [time-1700] 1fr
    [time-1730] 1fr
    [time-1800] 1fr
    [time-1830] 1fr
    [time-1900] 1fr
    [time-1930] 1fr
    [time-2000] 1fr
    [time-2030] 1fr
    [time-2100] 1fr
    [time-2130] 1fr
    [time-2200] 1fr
    [time-2230] 1fr
    [time-2300] 1fr
    [time-2330] 1fr
    [time-0000] 1fr
    [time-0030] 1fr;

  grid-template-columns:
    [times] 4em
    [df_thelivingroom-start] 1fr
    [df_thelivingroom-end df_thebedroom-start] 1fr
    [df_thebedroom-end df_thegarage-start] 1fr
    [df_thegarage-end];

  @include mobile {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .time-slot {
    grid-column: times;
    font-size: 0.75em;
  }

  .event {
    display: flex;
    flex-direction: column;
    border: 2px solid $fest-blue;
    padding: 20px;
    margin: 2px;

    &-title {
      h3 {
        margin: 0;
      }
    }

    &-time {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-endTime {
        &:before {
          content: '-';
          margin: 0px 10px;
        }
      }
    }
  }
}

.footer {
  min-height: 80px;
  padding: 20px 0px;
  margin-top: 20px;
  background-color: $secondary-color;
  text-align: center;

  h4 {
    text-transform: uppercase;
  }

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 9px;

    div a {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      margin-bottom: 20px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $dark-gray;
      }
      svg {
        height: 40px;
      }
    }
  }

  &-copyright {
    font-weight: 300;
  }
}
